<h1>New Game</h1>
<form method="post" action="/games">

  <table>
    <style>
      th {border: 1px solid black;
      background-color: #DF0024}
      th {width: 150px}
    </style>
    <tr style="color: #00AC9F">
      <th>Title</th>
      <th>Genre</th>
      <th>Release Year</th>
    </tr>
  </table>  
  <p>
    <div><label for="title">Title</label></div>
    <input id="title" type="text" name="game[title]"/>
    <input id="genre" type="text" name="game[genre]">
    <input id="year"  type="text" name="game[release_year"]/>
  </p>
  <input type="submit" value="Create Game"/>
</form>
<div>
  <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0714/vuF88yWPSnDfmFJVTyNJpVwW.png" width="320" height="280" style="margin: 10px 10px 10px 10px">
</div> 

