<h1>New Game</h1>
<form method="post" action="/games">

  <table>
    <style>
      th {width: 150px}
    </style>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Release Year</th>
    </tr>
  </table>  
  <p>
    <div><label for="title">Title</label></div>
    <input id="title" type="text" name="game[title]"/>
    <input id="genre" type="text" name="game[genre]">
    <input id="year"  type="text" name="game[release_year"]/>
  </p>
  <input type="submit" value="Create Game"/>
</form>