<h1>New Game</h1>
<form method="post" action="/games">
  <p>
    <div><label for="title">Title</label></div>
    <input id="title" type="text" name="game[title]" />
    <input id="year"  type="text" name="game[release_year"]/>
  </p>
  <input type="submit" value="Create Game"/>
</form>