<h2>Game successfully updated</h2>
<p>Title: <%= @game.title %></> 
<p>Genre: <%= @game.genre %></p> 
<p>Year: <%= @game.release_year %></p>


<div>
    <a href="/games"><button>Back to all Games</button></a>
</div>

