<!DOCTYPE html>  
  <head> 
    <title> Game Tracker</title>
  </head>
  <nav> 
    <a href="/games/new"><button>New Game<button></a>
  </nav>
  <body>
    
    <div id="container">
      <div id="header">
    
        <h1 style="color: blue"> Welcome! </h1>
      </div>

      <div id="content">
        <div id="main">
        <h2>Home page</h2>
        <p>Hi, this is the Game Tracker, a Sinatra application where you and other fellow users can list and show all the video games you've played and beaten.</p>
      </div>
    </div>

      <div>
        <table style="width: 100%">
          <tr>
            <img src="https://images.immediate.co.uk/production/volatile/sites/3/2020/08/playstation-5-77d37a0.jpg?quality=90&amp;resize=620%2C413" width="340" height="250" style="margin: 10px 10px 10px 10px" alt="playstation 5" title="playstation-5" class="playstation">
            
            <img src="//upload.wikimedia.org/wikipedia/en/thumb/4/40/Black_Ops_Cold_War.jpeg/220px-Black_Ops_Cold_War.jpeg" width="220" height="245" style="margin: 10px 10px 10px 10px" alt="Black Ops: Cold War" title="Call of Duty:Black Ops Cold War" class="callofduty">

            <img src= "//upload.wikimedia.org/wikipedia/en/thumb/a/a3/Spider-Man_Miles_Morales.jpeg/220px-Spider-Man_Miles_Morales.jpeg" width="220" height="241" style="margin: 10px 10px 10px 10px" alt="Spider-Man" title="Spider-Man Miles Morales" class="spiderman">
          </tr>
    
          <tr>
            <img src="https://images.pushsquare.com/games/ps5/ratchet_and_clank_rift_apart/cover_300x.jpg" width="220" height="243" style="margin: 10px 10px 10px 10px" alt="Ratchet&Clank" title="Ratchet&Clank: Rift Apart">

            <img src="https://images.pushsquare.com/c071b54d1a200/last-of-us-part-ii-cover.cover_300x.jpg" width="220" height="245" style="margin: 10px 10px 10px 10px" alt="Ellie" title="The Last of Us 2">

            <img src="https://blog.playstation.com/tachyon/2020/07/ghost-ost-featured.jpg?resize=1088,612&amp;crop_strategy=smart" width="325" height="250" style="margin: 10px 10px 10px 10px" alt="Jin" title="Ghost of Tsushima">
          </tr>
        </table>
      </div>
    </div>
  </body>


</html>
